/* Add your custom extension styling here */
.ss-subscriber-item {
    /* max-width: 200px; */
}

.ss-subscriber-none {
    color: none;
}

.ss-subscriber-auto {
    color: turquoise;
}

.ss-subscriber-manual {
    color: pink;
}
