/* Add your custom extension styling here */

.ss-subscriber-item {
    max-width: 20em;
}

.ss-subscriber-item-timeout {
    color: red;
}

.ss-subscriber-button:hover {
    color: deepskyblue;
}

.ss-subscriber-icon {
}

.none .ss-subscriber {
    color: none;
}

.auto .ss-subscriber {
    color: turquoise;
}

.manual .ss-subscriber {
    color: pink;
}
